* {
  background-color: lightgoldenrodyellow;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  width: 400px;
  margin: 50px;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
section {
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px;
  background-color: lightcyan;
}
p,
ul,
h2,
ol,
li,
b,
strong,
span {
  background-color: lightcyan;
}
section:nth-child(4) ul {
  list-style-type: square;
}
section:nth-child(4) ul li {
  padding-bottom: 5px;
}

section:nth-child(5) ol {
  list-style-type: upper-alpha;
}
section:nth-child(5) ol li {
  padding-bottom: 10px;
}
section:nth-child(6),
section:nth-child(6) > *,
.title-Nutrition > span,
.list-nutrition > span {
  background-color: rgb(227, 240, 183);
  font-weight: 800;
}
.title-Nutrition {
  display: flex;
  justify-content: space-between;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
  list-style-type: none;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
}
.list-nutrition {
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  padding-bottom: 10px;
}
